/* Page */
body{
	background-image: url("../img/bg2.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center; 
	background-color: #cccccc;
}
.invisibleForm{
	
}
/* Index */
.contentContainer{
	padding: 15px 50px;
}
.sidebar{
	padding: 0 10px;
}
.sidebar-div{    
	background-color: white;
  display: block;
  margin-bottom: 5%;
  text-align: center;
}
.sidebar-a{
	color: black;
  display: block;
  padding: 2%;
}
.sidebar-a:hover{
	cursor: pointer;
	color: black;
  text-decoration: none;
}
.bookContainer{
	padding: 0;
}
.index-titleContainer{
	background-color: white;
}
.title{
	display: block;
	text-align: center;
	padding: 2%;
	margin: 0;
}
.bestsellerSection{
	background-color: white;
	border: 1px solid;
	padding: 2%;
}
.book-cover{
	width: 116px;
	height: 180px;
	text-align: center;
}
/* Login */
.loginContainer{
	display: block; 
	text-align: center;
	padding: 5%; 
}
.textInput{
	width: 50%;
	margin: 5px;
	padding: 3px;
}
.loginbutton{
	margin-top: 2%;
}
.logCont{
	padding: 40px 20px;
	background-color: lightgreen;
	border: 1px solid;
}
/* PROFILE */
.userContainer{    
	background-color: lightblue;
    padding: 2%;
}
.profile-wrapper{
	padding: 1.5%;
    border: 1px solid black;
}
.profile-btn{
    margin-left: 35%;
    width: 25%;
}
dd{
	padding-left: 2%;
}
.profile-input{
	border: 0;
    background-color: lightblue;
    color: black;
}
.edit-btn{
    margin-left: 1%;
    width: 25%;
}
/* GENRE LIST */
.genreList-container{
	margin: 0;
}/*
.genreList-alphabet{
	margin: 0;
  padding: 1%;
}
.genreList-table{
	display: block;
	text-align: center;
}
.genreList-tbody{
	display: block;
}
.genreList-tr{
	display: block;
}
.genreList-td{
	display: inline-block;
	margin: 0 1%;
}
.genreList-a{
	color: black;
}
.genreList-a:hover{
	color: black;
	text-decoration: none;
}*/
.bestsellerSubTitle{
	background-color: green;
}

/* CATEGORIES */
.categoriesTitles{
	background-color: pink;
    padding: 1% 5%;
    font-size: 105%;
}
.catBtn{
	display: inline-block;
    float: right;
    width: 15%;
}
.category-a{
	color: black;
	display: block;
}
.category-a:hover{
	color: black;
	text-decoration: none;	
}

/* AUTHORS */
.authorsSection{
    padding: 2%;
    background-color: lightslategray;
    border: 1px solid black;
}
.authors-btn{
	float: right;
    width: 35%;
}
.autors-img{
	width: 200px;
	height: 200px;
}

